@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    font-family: 'open sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    padding: 40px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


/*encabezado*/
header {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    background: #000000;
    background: -webkit-linear-gradient(to right, hsla(0, 0%, 0%, 0.459), hsla(324, 2%, 51%, 0.664)), url();
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.459), hsla(312, 2%, 42%, 0.664)), url(../img/igi-2.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.prueva {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
}

h2 {
    position: relative;
    text-align: center;
    font-size: 2em;
    color: #222;
}

h2::before {
    content: attr(data-text);
    position: absolute;
    white-space: nowrap;
    color: #fff;
    overflow: hidden;
    /* border-right: 4px solid #fff; */
    animation: animate 8s linear infinite;
    filter: drop-shadow(0 0 20px #00f519) drop-shadow(0 0 50px #02fb0f);

}

@keyframes animate {

    0%,
    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}


.navegacion {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px 40px; */
    left: 20px;
    top: 20px;
}

.navegacion:hover {
    filter: drop-shadow(0 0 20px #00f519) drop-shadow(0 0 50px #02fb0f);
    transition: 0.5s;
}

.home {
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: rgba(140, 138, 138, 0.775);
    border-radius: 100%;
    cursor: pointer;
}

.menu {
    border-radius: 30px;
    display: flex;
    justify-content: center;
    padding-inline-start: 0;
    list-style: none;
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.5s ease;
}

.opc {
    padding: 13px;
    cursor: pointer;
}

.opc a {
    text-decoration: none;
    color: #fff;
}

.navegacion.active .menu {
    max-width: 500px;
    animation: fede 1s ease-in-out;

}

@keyframes fede {
    from {
        opacity: 0;
        transform: translatex(-10px);
    }

    to {
        opacity: 1;
        transform: translatex(0px);
    }
}

/*negocios*/
.cont__negocio {
    padding-top: 40px;
}

.negocios {
    gap: 1rem;
    display: grid;
    justify-content: center;
    
   
}

.car {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    position: relative;
    grid-column: 2/2;
    text-align: center;
    background-color: #00f519;
}

.img__car {
    
    width: 100%;
    height: 100%;
  
}
.descargar{
    cursor: pointer;
    margin: 40px auto;
    background-color: #068611;
    border-radius: 20px;
    padding: 10px 10px;
    width: 50%;
}
.descargar:hover{
    cursor: pointer;
    background-color: #fff;
    color: #02fb0f;
    border:  #000 1px solid;
    
}




.parrafo__inf {
    display: grid;
    grid-column: 4/1;
    grid-row: 4/4;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    text-align: center;

}

/* Clients */

.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    background: #068611;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card>.contenido-texto-card {
    width: 60%;
    color: #fff;
}

.cards .card>.contenido-texto-card p {
    font-weight: 300;
    padding-top: 5px;
}

/*  Our team */

.about-services {
    background: #f2f2f2;
    padding-bottom: 30px;
}


.servicio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind {
    width: 28%;
    text-align: center;
}

.servicio-ind img {
    width: 90%;
}

.servicio-ind h3 {
    margin: 10px 0;
}

.servicio-ind p {
    font-weight: 300;
    text-align: justify;
}

/*bonton hacia arriba*/
#boton_up {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 50%;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
    z-index: 1;
}

#boton_up:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 20px #00f519) drop-shadow(0 0 50px #0b0b0b);
    transition: 0.5s;
    cursor: pointer;
}

#boton_up img {
    width: 50px;
    height: 50px;
}

/*fin boton hacia arriba*/
/*radio*/
.cont__radio {
    bottom: 0;
    display: flex;
    height: 68px;
    left: 0;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 1000;
    overflow: hidden;

}

.cuadroBordeado {
    width: 100%;
}

/*contacto*/

.contactenos {
    width: 80%;
    padding: 40px;
    margin: auto;
}

/*info*/
.tiulo__contacto {
    text-align: left;
    font-size: 2rem;
    background: #004603;
    padding: 15px 40px;
    color: #fff;
}

.info {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: auto;
    font-size: 1rem;
}

/*acordeon*/
.acordeon {
    width: 90%;
    margin: auto;
    font-size: 1rem;
}

.abajo01 {

    display: flex;
    flex-direction: column;
    margin: auto;
}

.pregunta01 {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    color: #fff;
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.582), hsla(312, 2%, 42%, 0.664));
    padding: 10px;
    border-radius: 10px;
}

.parrafo01 {
    max-height: 0;
    overflow: hidden;

    transition: max-height 0.4s ease;
}

.img__abj {
    transition: transform .5s ease-in;
}

.abajo01.active .img__abj {
    transform: rotate(180deg);
}

.abajo01.active .parrafo01 {
    max-height: 300px;
    animation: fede03 1s ease-in-out;
}

@keyframes fede03 {
    from {
        opacity: 0;
        transform: translatey(-10px);
    }

    to {
        opacity: 1;
        transform: translatey(0px);
    }
}

/*fin contacto*/

/*footer*/

footer {
    background-color: #fff;
    padding: 50px;

}

.pie_pagina {
    font-size: 1rem;
}

.listas {
    padding: 20px;
    grid-auto-flow: dense;
    display: grid;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-items: center;
}

.box__footer1 {
    align-self: center;
    justify-items: center;
    text-align: left;
}

.titulo__footer {
    text-align: left;
}

.box__footer2 {
    display: grid;
    justify-items: center;
    align-self: center;
}

.box__footer3 {
    display: grid;
    justify-items: center;
    align-self: center;
}

.box__footer2 h2,
a {
    color: black;
    padding: 4px;
    text-decoration: none;
}

.box__footer2 a:hover {
    color: #004603;
    filter: drop-shadow(0 0 20px #1a8629) drop-shadow(0 0 50px #0d8822);
    transition: 0.5s;
    cursor: pointer;
}

.sociales {

    padding: 10px;
    display: grid;
    justify-items: center;

}

.cons {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.cons a {
    color: #0c0c0c;
    padding: 0;
    display: grid;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    border: solid 1px #222;

}

.cons a:hover {
    color: #36f806;
    transition: 0.5s;
    cursor: pointer;
    filter: drop-shadow(0 0 15px #86841a) drop-shadow(0 0 25px #0d8822);
    transition: 0.5s;
}


#iconos {
    display: grid;
    margin: auto;
}

.Copyright {
    padding: 20px;
    display: grid;
    justify-items: center;
    text-align: center;
}



/*Fin footert*/


@media (max-width:900px) {

    /* Clientes */

    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card {
        width: 90%;
    }

    .cards .card:first-child {
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont {
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind {
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1),
    .servicio-ind:nth-child(2) {
        margin-bottom: 60px;
    }

    .servicio-ind img {
        width: 90%;
    }

    /*contactenos*/
    .contactenos {
        width: 100%;
        padding: 0;
        margin: auto;
    }


    /*fooret*/
    .listas {
        display: none
    }

    .pie_pagina {
        font-size: 0.8rem;
    }

}


@media (max-width:500px) {
    header {

        justify-content: center;
        height: 400px;

    }

    h2 {
        position: relative;
        font-size: 0.8rem;
        color: #222;
    }

    .home {
        width: 20px;
        height: 20px;
        padding: 5px;
        background-color: rgba(140, 138, 138, 0.775);
        border-radius: 100%;
        cursor: pointer;
    }

    .opc {
        padding: 3px;
        cursor: pointer;
    }

    /* ABOUT US */

    .imagen-about-us {
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos {
        width: 95%;
    }



    /* Clients */

    .cards .card {
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img {
        width: 90px;
        height: 90px;
    }

    /*boton subir*/
    #boton_up {

        bottom: 60px;
        right: 5px;

    }

    #boton_up:hover {
        transform: scale(1.1);
        filter: drop-shadow(0 0 20px #00f519) drop-shadow(0 0 50px #0b0b0b);
        transition: 0.5s;
        cursor: pointer;
    }

    #boton_up img {
        width: 40px;
        height: 40px;
    }

    /*contactenos*/
    .tiulo__contacto {
        font-size: 1rem;
    }


}

@media (max-width:300px) {
    header {

        justify-content: center;

    }

    h2 {
        position: relative;
        font-size: 0.6em;
        color: #222;
    }


    .home {
        width: 20px;
        height: 20px;
        padding: 5px;

    }


    .opc {
        padding: 4px;
        font-size: 0.6em;
        cursor: pointer;
    }

    /*info*/
    .info {
        font-size: 0.8rem;
    }

    /*acordeon*/
    .acordeon {
        font-size: 0.8rem;
    }

}