@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    font-family: 'open sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*encabezado*/
header {
    display: flex;
    justify-content: left;
    align-items: baseline;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    background: #000000;
    background: -webkit-linear-gradient(to right, hsla(0, 0%, 0%, 0.459), hsla(324, 2%, 51%, 0.664)), url();
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.459), hsla(312, 2%, 42%, 0.664)), url(../img/microfono.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.prueva{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
h2{
    position: relative;
    text-align: center;
    font-size: 2em;
    color: #222;
}
h2::before{
    content: attr(data-text);
    position: absolute;
    white-space: nowrap;
    color: #fff;
    overflow: hidden;
    border-right: 4px solid #fff;
    animation:animate 8s linear infinite;
    filter: drop-shadow(0 0 20px #00f519) drop-shadow(0 0 50px #02fb0f);

}

@keyframes animate{
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 100%;
    }
}

/* header::before{
    content: "Bienvenido a la mejor sintonia del momento";
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
} */

.navegacion{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}
.navegacion:hover{
    filter: drop-shadow(0 0 20px #00f519) drop-shadow(0 0 50px #02fb0f);
    transition: 0.5s;
}
.home{
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: rgba(140, 138, 138, 0.775);
    border-radius: 100%;
    cursor:pointer;
}

.menu {
    border-radius: 30px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    padding-inline-start: 0;
    list-style: none;
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.5s ease;
}
.opc{
    padding: 13px;
    cursor: pointer;
}

.navegacion.active .menu{
    max-width: 500px;
    animation: fede 1s ease-in-out;

}
@keyframes fede {
    from {
        opacity: 0;
        transform: translatex(-10px);
    }

    to {
        opacity: 1;
        transform: translatex(0px);
    }
}

@media (max-width:500px){
    header {
        
        justify-content: center;
       
    }
    
    h2{
        position: relative;
        font-size: 1rem;
        color: #222;
    }
   
    .home{
        width: 20px;
        height: 20px;
        padding: 5px;
        background-color: rgba(140, 138, 138, 0.775);
        border-radius: 100%;
        cursor:pointer;
    }
   
    .opc{
        padding: 8px;
        cursor: pointer;
    }
    
}
@media (max-width:300px){
    header {
        
        justify-content: center;
       
    }
      
    h2{
        position: relative;
        font-size: 0.6em;
        color: #222;
    }
    
    
    .home{
        width: 20px;
        height: 20px;
        padding: 5px;
      
    }
    
    
    .opc{
        padding: 4px;
        font-size: 0.6em;
        cursor: pointer;
    }
    
}
